.row.minimum
 .tencol
  %h1 The State Of LANAtion
 .twocol.last
  <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
  .row.minimum
 .twelvecol
  %h2 (analyzing lana tweets so you don't have to*)

.row.row-spacer
 .twelvecol.last

.row
 .fourcol
  .positive
   %p.center
    =image_tag("lana-happy.jpg")
    %br
    =@positweets
 .fourcol
  .neutral
   %p.center
    =image_tag("lana-neutral.png")
    %br
    =@neutweets

 .fourcol.last
  .negative
   %p.center
    =image_tag("lana-sad.jpg")
    %br
    =@negatweets

.row.row-spacer
 .twelvecol.last

.row.resolution-row-height
 .onecol
 .tencol
  .result
   %p.center
    -color_code_resolution(@resolution)
 .onecol.last

.row.row-spacer
 .twelvecol.last

.row
 .threecol
 .sixcol
  -@results.each do |result|
   -color_code(result)
   %br
 .threecol.last
  :javascript
   google_ad_client = "ca-pub-0941992423636815";
   google_ad_slot = "4703451743";
   google_ad_width = 180;
   google_ad_height = 90;
  %script{:type => "text/javascript", :src  => "http://pagead2.googlesyndication.com/pagead/show_ads.js"}

.row.row-spacer
 .twelvecol.last

.row
 .twelvecol
  %p
   %h3 *Guaranteed 100% accurate some of the time

-#.row
-# .twocol
-# .eightcol
-#  -@articles.each do |article|
-#   %p.center
-#    =link_to article.title, article.url
-# .twocol.last


