.row.minimum
 .twelvecol
  %h1 The State Of LANAtion <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
  :javascript
   !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
   if(!d.getElementById(id)){js=d.createElement(s);
   js.id=id;js.src="//platform.twitter.com/widgets.js";
   fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
.row.minimum
 .twelvecol
  %h2 Lanalyzing the last LDR 100 tweets so you don't have to*

.row.row-spacer
 .twelvecol.last

.row
 .fourcol
  .positive
   %p.center
    =image_tag("lana-happy.jpg")
    %br
    =@positweets
 .fourcol
  .neutral
   %p.center
    =image_tag("lana-neutral.png")
    %br
    =@neutweets

 .fourcol.last
  .negative
   %p.center
    =image_tag("lana-sad.jpg")
    %br
    =@negatweets

.row.row-spacer
 .twelvecol.last

.row.resolution-row-height
 .onecol
 .tencol
  .result
   %p.center
    -color_code_resolution(@resolution)
 .onecol.last

.row.row-spacer
 .twelvecol.last

.row
 .threecol
 .sixcol
  -@results.each do |result|
   -color_code(result)
   %br
 .threecol.last

.row.row-spacer
 .twelvecol.last

-#.row
-# .twocol
-# .eightcol
-#  -@articles.each do |article|
-#   %p.center
-#    =link_to article.title, article.url
-# .twocol.last


