// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet {font-family: VolkhovRegular; color: #000; font-weight: bolder; font-size: 18pt;}
.tweet-2 {font-family: VolkhovRegular; color: #000; font-size: 18pt;}
.banner {height:120px; background-color:#000; font-family: VolkhowBoldItalic; color: #FFF; font-size: 68pt;}
.positive {font-family: VolkhovRegular; color: green; font-size: 18pt;}
.negative {font-family: VolkhovRegular; color: red; font-size: 18pt;}
.neutral {font-family: VolkhovRegular; color: orange; font-size: 18pt;}
.result {font-family: BebesRegular; color: black; font-size: 26pt;}
.resolution-row-height{max-height:170px; line-height: 90px;}
.row-spacer {height:20px;}
p.center { text-align: center; }
.resolution {font-family: BebasRegular; font-size: 56pt; max-height:200px;}
.green{color: green;}
.red {color: red;}
h1 {font-family: BebasRegular; font-size: 6em; color: black; bottom: 0px;}
h2 {font-family: BebasRegular; font-size: 2em; color: #333333; text-align: center; bottom: 0px;}

.minimum {min-width: 1200px; bottom: 0px; vertical-align: bottom; line-height: 100px;}


