!!!
%html
 %head
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
  %meta{'name' => 'keywords', :content => 'lana del rey, tweets, lana tweet analyzer, lana tweets, ldr tweets'}
  %meta{'name' => 'description', :content => 'The original Lana Del Rey tweet sentiment analyzer.'}
  %title lanadelrey-o-meter
  =stylesheet_link_tag    "application", "1140", "ie"
  =javascript_include_tag "application", "css3-mediaqueries", "jquery", "jquery-ui", "jquery_ujs", "site"
  =csrf_meta_tags
  :javascript
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-29014519-1']);
   _gaq.push(['_trackPageview']);
   (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  :javascript
   !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
   if(!d.getElementById(id)){js=d.createElement(s);js.id=id; js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  :javascript
    $(document).ready(function(){
    var current = 0;
    var verdict = "#{@verdict.to_s}";
    var finish = #{@percentage};
    var miliseconds = 1500;
    var rate = 1;
    var some_text

    if (verdict == "positive") {
       some_text = "positive sentiment";
    }
    else if (verdict == "negative"){
       some_text = "negative sentiment";
    }

    var counter = setInterval(function(){
         if(current >= finish) clearInterval(counter);
         $('.percent').text(current + "% " + some_text);
         current = parseInt(current) + parseInt(rate);
    }, miliseconds / (finish / rate));
    });


 %body
  .container
   .row
    .twelvecol.row-spacer.last
   =yield





