!!!
%html
 %head
  %title LDR-o-meter
  =stylesheet_link_tag    "application", "1140", "ie"
  =javascript_include_tag "application", "css3-mediaqueries", "jquery", "jquery-ui", "jquery_ujs", "site"

  =csrf_meta_tags
 %body
  .container
   .row
    .twelvecol.row-spacer.last
   =yield
   =raw google_analytics_js

