!!!
%html
 %head
  %title lanadelrey-o-meter
  =stylesheet_link_tag    "application", "1140", "ie"
  =javascript_include_tag "application", "css3-mediaqueries", "jquery", "jquery-ui", "jquery_ujs", "site"
  =csrf_meta_tags
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29014519-1']);
    _gaq.push(['_setDomainName', 'lanaometer.com']);
    _gaq.push(['_trackPageview']);
    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
   %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
   %meta{'name' => 'keywords', :content => 'lana del rey, tweets, lana tweet analyzer, lana tweets, ldr tweets'}/
   %meta{'name' => 'description', :content => 'The original Lana Del Rey tweet sentiment analyzer.'}/

 %body
  .container
   .row
    .twelvecol.row-spacer.last
   =yield





